.App {
    font-size: large;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.body {
    margin: 0 !important;
    padding: 0 !important;
}

.element {
    /*height: 1000px;*/
    background-color: white;
    /*font-size: 45px;*/
    /*border-top: 1px solid #000;*/
    padding-top: 55px;
    padding-left: 10px;
}

.element.no-padding {
    padding-top: 0;
}

.navLinks {
    color: white;
    text-align: center;
}

.navLinks :hover {
    color: orange
}

.active {
    color: yellow;
}

.jobTitle {
    font-size: 140%;
}

.projectTitle {
    font-size: 150%;
}

.sectionTitle {
    font-size: 200%;
    text-decoration: underline;
}

.sectionTitleContainer {
    padding-bottom: 1%;
}

.educationTitle {
    font-size: 140%;
}

.instituteName {
    font-size: 100%;
    padding-bottom: 0.5%;
    padding-top: 1%;
}